In [27]:
import pandas as pd
import numpy as np

In [28]:
# I want to take all african countries "xpi_xxx.csv" into one csv file.
# use "WID_countries.csv" and "AfricanDevelopment.csv"

WID = (pd.read_csv('../data/raw/WID_countries.csv', sep = ";"))
WID.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [29]:
African = (pd.read_csv('../data/raw/AfricanDevelopment.csv'))
African.head()

      country  humanDevelopmentIndex    pop2021
0  Seychelles                  0.801     98.908
1   Mauritius                  0.796   1273.433
2     Algeria                  0.759  44616.624
3     Tunisia                  0.739  11935.766
4    Botswana                  0.728   2397.241

In [30]:
# take only African countries
WID_African = WID.query('region == "Africa"') # df.query('state == "CA"')
WID_African.head()
"""
The index skips numbers that aren't included. 
"""

   alpha2     titlename     shortname  region          region2
2      AO        Angola        Angola  Africa    Middle Africa
13     BF  Burkina Faso  Burkina Faso  Africa   Western Africa
16     BI       Burundi       Burundi  Africa   Eastern Africa
17     BJ         Benin         Benin  Africa   Western Africa
24     BW      Botswana      Botswana  Africa  Southern Africa

In [36]:
# We will use initial 2 letters (alpha2) to achieve the purpose.
African_alpha2 = pd.DataFrame(columns = WID.columns)
African_alpha2.head()

Empty DataFrame
Columns: [alpha2, titlename, shortname, region, region2]
Index: []

In [32]:
"""かす
for x in African["country"]:
    df3=df1.append(df2, ignore_index=True)
    df3=pd.concat([df1,df2],ignore_index=True)
"""

'\nfor x in African["country"]:\n    df3=df1.append(df2, ignore_index=True)\n\n    df3=pd.concat([df1,df2],ignore_index=True)\n'

In [43]:
# xx = pd.DataFrame(columns = WID.columns)
for cntry in African['country']:
    African_alpha2 = African_alpha2.append(WID.loc[WID['titlename'] == cntry], ignore_index=True) 
    # African_alpha2 = pd.concat([African_alpha2,WID.loc[WID['titlename'] == cntry]],ignore_index=True)
African_alpha2 = (African_alpha2.drop(African_alpha2.index[African_alpha2['titlename'] == 'Namibia']).reset_index(drop=True))

In [44]:
African_alpha2.head()

  alpha2   titlename   shortname  region          region2
0     SC  Seychelles  Seychelles  Africa   Eastern Africa
1     MU   Mauritius   Mauritius  Africa   Eastern Africa
2     DZ     Algeria     Algeria  Africa  Northern Africa
3     TN     Tunisia     Tunisia  Africa  Northern Africa
4     BW    Botswana    Botswana  Africa  Southern Africa

In [46]:
AllC = (pd.read_csv("../data/raw/WID_data_SC.csv", sep = ";"))
AllList = pd.DataFrame(columns = pd.read_csv("../data/raw/WID_data_SC.csv", sep = ";").columns)
AllList = []
for cc in African_alpha2['alpha2']:
    AllList.append(pd.read_csv(f"../data/raw/WID_data_{cc}.csv", sep = ';'))
AllC = pd.concat(AllList)

AllC.head()